html, body, #root, .App {
  height: 100%;
}

*:focus { -webkit-appearance: none; }

h1, h2, h3, input { font-family: 'Asap Condensed', sans-serif !important; }

input[type=text], .input-label {
  background-color: rgb(35, 35, 35) !important;
  color: rgb(140, 140, 140) !important;
}